/* :root {
    --primary-color: #007bff;
    --primary-color-dark: rgb(4, 73, 4);
    --background-color: #ffffff;
    --message-background: #f4f4f4;
    --input-background: #ffffff;
    --text-color: #222;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } */