.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 300px;  /* Increased to better fit the horizontal logo */
    height: 80px;  /* Adjusted height-to-width ratio for your logo */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* color: white; */
    /* font-size: 14px; */
  }
  

  .logo svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }